@import url("https://fonts.googleapis.com/css2?family=Ubuntu:wght@400;500;700&display=swap");

body {
  margin: 3rem;
  font-family: "Ubuntu", sans-serif;
  color: rgb(26, 57, 87);
  background: linear-gradient(to right top, #65dfc9, #d26ceb);
  background-image: url(https://images.unsplash.com/photo-1500964757637-c85e8a162699?ixlib=rb-1.2.1&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=1503&q=80);
  background-size: cover;
  background-repeat: no-repeat;
}

h1,
h2 {
  font-family: Impact, Haettenschweiler, "Arial Narrow Bold", sans-serif;
  padding: 0.6em 1em;
  display: inline-block;
  color: rgb(29, 55, 58);
  border-radius: 1rem;
}

h1 {
  background: linear-gradient(to right bottom, #ffff00, #ffffff4d);
  box-shadow: -10px 7px 7px rgb(117, 114, 114);
  border-radius: 30px;
}

.boards-container {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  grid-gap: 80px;
  margin: 2rem;
}

.board-container,
.new-card-form-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  display: flex;
  flex-direction: column;

  background: white;
  background: linear-gradient(to right bottom, #ffffff, #ffffffb3);
  padding: 2em;
  border-radius: 30px;
  box-shadow: -10px 7px 7px lightgrey;
}

.new-board-form,
.new-card-form {
  display: flex;
  flex-direction: column;
  margin-bottom: 2em;
  width: 100%;
}

.submit-button {
  padding: 0.5em;
  background-color: #65dfc9;
  border: 2px solid #65dfc9;
  color: white;
  border-radius: 10px;
  font-weight: bold;
  box-shadow: 0 5px rgb(226, 221, 221);
}

.hide-button {
  padding: 0.5em;
  background-color: white;
  border: 2px solid #65dfc9;
  color: #0e7979;
  border-radius: 10px;
}

.hide-button:hover {
  color: #d26ceb;
  background: none;
  border: 2px solid #d26ceb;
}

.cards-container {
  display: grid;
  grid-template-columns: 2fr 1fr;
  background: white;
  background: linear-gradient(to right bottom, #ffffff, #ffffffa4);
  padding: 2em;
  border-radius: 30px;
}

.card-elements-container {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  grid-gap: 2rem;
  margin: 2rem;
}

.card {
  font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
  background-color: rgb(250, 245, 104);
  box-shadow: -10px 7px 7px lightgrey;
  min-height: 200px;
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 2rem;
  flex-direction: column;
  border-radius: 30px;
}

.card-message {
  text-align: center;
  font-size: 1.4rem;
  word-break: break-word;
}

.card-footer {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.card-footer-icon:hover {
  text-decoration: underline;
  font-size: 20px;
  cursor: pointer;
}

.delete-icon:hover {
  transform: scale(1.3);
  cursor: pointer;
}

input {
  box-sizing: content-box;
  height: 25px;
  border: 1px solid lightgrey;
  border-radius: 7px;
  padding: 0 15px;
  font-size: 17px;
  margin-bottom: 10px;
}

.invalid-input {
  border: #eb6cd6 solid 1px;
  box-shadow: 0 0 7px #eb6cd6;
}

footer {
  text-align: center;
  background: linear-gradient(to right bottom, #ffffff, #ffffffa4);
  width: fit-content;
  padding: 1em;
  border-radius: 30px;
  margin: 1em;
}

footer span {
  color: #eb6cd6;
  text-decoration: none;
}
footer span:hover {
  text-decoration: underline;
}

.entire-page {
  display: flex;
  flex-direction: column;
  min-height: 80vh;
  padding: 2em;
  border-radius: 30px;
  margin: 1em;
  text-align: center;
}
